.home-container {
	position: relative;

	//---------- section2 ----------------
	.section1 {
		.banner-container {
			width: 100%;
			height: 1008px;
			z-index: 1;
			position: relative;

			.title-container {
				position: absolute;
				left: 50px;
				top: 250px;

				width: 1174px;
				height: 348px;

				color: var(--text-color-primary);

				h1 {
				}

				h4 {
					margin-top: 27px;
					font-size: 40px;
					font-weight: 400;
				}
			}
		}
	}

	.searchComponent {
		position: absolute;
		top: 1000px;
		z-index: 2;
	}

	// -----------section2 ------------------
	.section2 {
		height: 1050px;
		display: flex;
		gap: 70px;
		padding: 230px 50px 70px 60px;

		.images-container {
			display: flex;
			// background-color: red;
			height: fit-content;

			img {
				margin: 5px;
			}

			.col1 {
				align-self: center;
			}
			.col2 {
			}
		}
		.desc-container {
			text-align: left;
		}
	}

	// ---------- section3 -------------
	.section3 {
		height: 843px;
		background-color: var(--bg-color-secondary);
		color: var(--bg-color-primary);

		padding: 70px 65px;


		.facilities {
			.row {
				display: flex;
			}
		}
	}

	// ---------- section4 -------------
	.section4 {
		height: 1000px;
		background-color: var(--bg-color-primary);
		color: var(--bg-color-secondary);

		padding: 70px 65px;


		.image-container {
			display: flex;
			.left {
				position: relative;
				img {
				}
				.content {
					position: absolute;
					left: 50%;
					top: 50%;
					translate: -50% -50%;
					text-align: center;
					color: var(--bg-color-primary);

					h2 {
						font-family: sans-serif;
						text-transform: none;
						font-weight: 300;

						span {
							font-weight: 700;
						}
					}
				}
			}
			.right {
				display: flex;
				margin: 0 12px;
				img {
					margin: 0 6px;
					margin-bottom: 10px;
				}
				.col1 {
				}
				.col2 {
				}
				.col3 {
				}
			}
		}
	}

	// ------------- section5 -------------
	.section5 {
		background: url("/images/image13.png");
		height: 470px;
		color: var(--bg-color-primary);
		padding: 50px;

		// display: flex;
		// flex-direction: column;

		hr {
			border: solid 0.5px rgba(255, 255, 255, 0.5);
		}

		.row1 {
			display: flex;
			text-align: center;

			.img-container {
				flex: 1;
				img {
					// width: 90px;
					// height: 90px;
					// margin-right: 80px;
				}
			}
		}
		.row2 {
			display: flex;
			// justify-content: space-evenly;

			.content {
				text-align: center;
				// background-color: plum;
				flex: 1;
				height: 160px;
				padding: 20px;
				margin: 30px 0px;
				// background-color: cyan;

				border-right: 0.5px solid rgba(255, 255, 255, 0.5);
				&:last-child {
					border-right: none;
				}
				h1 {
					font-size: 80px;
					text-align: center;
				}
				p {
					font-size: 20px;
				}
			}
		}
	}

	// -------------- section6 / Locations -------------
	.section6 {
		height: 1000px;
		background-color: var(--bg-color-primary);
		color: var(--bg-color-secondary);

		padding: 70px 65px;

		.card-container {
			display: flex;
			gap: 14px;
		}
	}

	// --------------- section7 -------------
	.section7 {
		height: 670px;
		padding: 50px;
		background: url("/images/image19.png");

		display: flex;
		gap: 70px;

		.left {
			flex: 1;
		}
		.right {
			flex: 1;

			display: flex;
			align-items: center;
			justify-content: center;

			.col1 {
			}
			.col2 {
				margin-top: 100px;
			}
		}
	}


	//  ----------------- section8 ---------------
	.section8{
		height: 840px;
		padding: 50px;

		
		.card-container{
			margin-top: 110px;
			display: flex;
		}
	}



}
