//  -------------- Primary card -----------
.primary-card-container {
	width: 592px;
	height: 198px;
	border-radius: 25px;
	border: 1px;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.08);
	background-color: var(--bg-color-primary);
	margin: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 40px;

	.icon {
		width: 104px;
		height: 108px;
		border-radius: 15px;
		background-color: var(--highlight-primary);

		display: flex;
		justify-content: center;
		align-items: center;

		img {
		}
	}
	.content {
		font-family: Bona Nova;
		width: 330px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.title {
			font-family: "Gill Sans";
			font-size: 28px;
			font-weight: 400;
			line-height: 33.6px;
			text-align: left;
			color: rgba(49, 49, 49, 1);
		}
		.desc {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 17px;
			font-weight: 400;
			line-height: 27px;
			text-align: justify;
			color: rgba(24, 24, 24, 1);
		}
	}
}

//  -------------- Secondary card -----------
.secondary-card-container {
	width: 350px;
	height: 540px;

	border: 1px solid #c1c1c1;
	border-radius: 15px;

	display: flex;
	flex-direction: column;

	.content {
		padding: 10px 20px 30px 20px;

		.rating {
			display: flex;
			align-items: center;
			height: 40px;
			overflow: hidden;
			margin-bottom: 20px;

			> img {
			}
			> p {
				font-size: 22px;
				font-weight: 500;
				padding-left: 10px;
			}
		}
		.title {
			margin-bottom: 14px;
			> p {
				font-size: 25px;
				font-family: "Gill Sans";
			}
		}
		.price {
			margin-bottom: 21px;
			> p {
				font-size: 20px;
				font-weight: 800;
				color: var(--highlight-primary);

				span {
					font-size: 16px;
					font-weight: 400;
					color: var(--bg-color-secondary);
				}
			}
		}
	}
}

//  -------------- Card3 -----------
.card3-container {
	width: 330px;
	height: 246px;
	border: 1px solid white;
	border-radius: 15px;
	margin-right: 24px;
	margin-bottom: 24px;
	color: var(--bg-color-primary);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.icon {
		width: 82px;
		height: 82px;
		border-radius: 50%;
		margin-bottom: 20px;
		background-color: var(--highlight-primary);
		display: flex;
		justify-content: center;
		align-items: center;

		> img {
		}
	}
	> h5 {
		font-size: 22px;
	}
}

// ------------ review card -------------
.review-card-container {
	width: 600px;
	height: 350px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(251, 251, 251, 1);
	margin-right: 15px;

	position: relative;

	.profile-pic {
		position: absolute;
		top: 0x;
		left: 50%;
		translate: -50% -50%;
		width: 128px;
		height: 128px;
		border-radius: 50%;
		background-color: rgba(221, 221, 221, 1);

		display: flex;
		justify-content: center;
		align-items: center;

		img {
		}
	}
	.review {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 55px;

		> h6 {
			font-family: Content;
			font-size: 18px;
			font-weight: 400;
			line-height: 33.11px;
			text-align: justified;
			color: rgba(77, 77, 77, 1);
		}
		.user {
			position: absolute;
			bottom: 30px;
			right: 90px;
			h5 {
				font-family: Content;
				font-size: 20px;
				font-weight: 700;
				line-height: 36.79px;
				text-align: left;
				color: var(--highlight-primary);
			}
			p {
				font-family: Content;
				font-size: 14px;
				font-weight: 400;
				line-height: 25.75px;
				text-align: left;
			}
		}
	}
}

// ------------------ LocationCard ------------
.location-card-container {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-bottom: 30px;

	img {
	}
	.content {
		width: 65%;
		h5 {
			font-family: Bona Nova;
			font-size: 22px;
			font-weight: 700;
			line-height: 26.4px;
			text-align: left;
		}
		p {
			margin-top: 17px;
			font-family: system-ui;
			font-size: 18px;
			font-weight: 400;
			line-height: 33.11px;
			text-align: justified;
		}
	}
}
